.sideBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 0px 20px;
    background-color: #fff;
}